@charset "UTF-8";

body{ 
    background-image:url("fundo 3.avif");
     background-color:  rgb(255, 255, 255);
color: rgb(0, 0, 0);

   }
p{text-align: justify;
 text-indent: 20px;

}
 /* Formatação de imagens ou legendas */
 figure.foto-legenda{
   position: relative;
   width: 450px;
   height: 250px;
   border: 8px solid rgb(126, 114, 114);
   box-shadow:  2px 2px 9px;
}


 figure.foto-legenda img {
   
   width: 100% ;
   height: 100%;
   
}
figure.foto-legenda figcaption{
  opacity: 0;
   position: absolute;
  top:0px;
  background-color: rgba(0, 0, 0, 0.308);
  color: rgba(255, 255, 255);
   width: 100%;
   height:  100%;
   padding: 10px;
   box-sizing: border-box;
   transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
  opacity: 1;
}
